@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login-page .form .login {
  margin-top: -31px;
  margin-bottom: 26px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}



.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #26c6bb;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 10px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #26c6bb;
  text-decoration: none;
}

.container {

  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}


body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-image: url('images/calorie.jpg');
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.delete {
  background-color: red !important;
  color: white !important;
  font-size: 16px !important;
  margin-top: 20px !important;
}



.table {
  overflow: hidden;
}

.highlight {
  background-color: plum;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.header .logo {
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.header button {
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  /* box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4); */
  background: none;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
  font-size: 25px;

}

.nav-items a {

  text-decoration: none;
  background-color: #26c6bb;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

a:active {
  color: black;
}

.sign-up {
  padding-left: 10px !important;
}

.add-btn {
  margin-top: 30px !important;
}

.table-primary {
  margin-left: 35% !important;
}

.consumption {
  text-align: center;
  background-color: #cfe2ff;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 294px;
  width: 827px;
}

.bmi{
  text-align: left !important;
}