{% load static %}
<link rel="stylesheet" href="{% static 'calorie_tracker/style1.css' %}">

<!DOCTYPE html>
<html>

<head>
  <title> Calorie Tracker </title>
  
</head>

<body>

  <header class="header">
    <a href="/index" class="logo">Calorie Tracker</a>
  </header>
  <div class="login-page">
    <div class="form">
      <div class="login">
        <div class="login-header">
          <h3>Thank you for submit your queary admin will contact soon</h3>
        </div>
      </div>

      
     
      
      
    </div>
  </div>

</body>

</html>