{% load static %}
<link rel="stylesheet" href="{% static 'calorie_tracker/style1.css' %}">

<!DOCTYPE html>
<html>

<head>
  <title> BiteBalance </title>
  
</head>

<body>

  <header class="header">
    <a href="/index" class="logo">BiteBalance</a>
  </header>
  <div class="login-page">
    <div class="form">
      <div class="login">
        <div class="login-header">
          <h3>Password reset complete</h3>
         <p> Your new password has been set. You can log in now </p>
        </div>
      </div>

      <form class="login-form" action="#" , method="post">
        {% csrf_token %}

        <p class="message">
          <h4><a href="{%url 'login' %}">Login</a></h4>
        </p>
      </form>

      
      

    </div>
  </div>

</body>

</html>