{% load static %}
<link rel="stylesheet" href="{% static 'calorie_tracker/style1.css' %}" />

<!DOCTYPE html>
<html>
  <head>
    <title>Calorie Tracker</title>
  </head>

  <body>
    <header class="header">
      <a href="/index" class="logo">Calorie Tracker</a>
    </header>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>Email Sent</h3>
            <form
              class="login-form"
              action="/password_reset/"
              method="post"
            >
              {% csrf_token %}

              <p>We sent an email with a link to get back into your account.</p>
              <button>Ok</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
