{% load static %}
<link rel="stylesheet" href="{% static 'calorie_tracker/style1.css' %}" />

<!DOCTYPE html>
<html>
  <head>
    <title>Calorie Tracker</title>
  </head>

  <body>
    {% block content %}
    <header class="header">
      <a href="/index" class="logo">Calorie Tracker</a>
    </header>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            {% if validlink %}
            <h3>Set a new password</h3>
          </div>
        </div>
        <form class="login-form" method="POST" a>
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit">Change my password</button>
        </form>

        {% else %}
        <p>
          The password reset link was invalid, possibly because it has already
          been used. Please request a new password reset.
        </p>
        <h4><a href="{%url 'password_reset' %}">Back to reset</a></h4>

        {% endif %}
      </div>
    </div>
     {% endblock %}
  </body>
</html>
