
{% load static %}
<link rel="stylesheet" href="{% static 'calorie_tracker/style1.css' %}">

<!DOCTYPE html>
<html>

<head>
  <title> Calorie Tracker </title>
  
</head>

<body>

  <header class="header">
    <a href="/index" class="logo">Calorie Tracker</a>
  </header>
  <div class="login-page">
    <div class="form">
      <div class="login">
        <div class="login-header">
          <h3>Trouble logging in?</h3>
         <p> Enter your email and we'll send you a link to get back into your account.<p>
        </div>
      </div>

      <form class="login-form"  method="post">
        {% csrf_token %}

        <input type="email" placeholder="Email" name="email" />
        <button> Send login link </button>

        <p class="message">
          <h4><a href="{%url 'calorie_tracker:signup_view' %}">Create new account</a></h4>
          <h4><a href="{%url 'calorie_tracker:login' %}">Back to login</a></h4>
        </p>
      </form>
      
      

    </div>
  </div>

</body>

</html>